## R Out data and storage files
.RData
.Ruserdata
*Rproj.user*
*.ini
*.DS_Store
Validation/data/*.RDS
Validation/data/*.csv
Validation/data/
*cache*
Validation/*_files/*
Validation/wy_test/*
validation/output/*.RDS
validation/output/*
validation/output/intermediate_results/*.RDS
output/*

# out and error files
*.out
*.err
log/*

## Added in another repo. Don't remember for which use.
inst/doc

## Sourced from Github Repo
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj
*.Rproj.user
.Rproj.user

# knitr and R markdown default cache directories
/*_cache/
/cache/
/*_files/
ManuScript/appendix/appendix_files/*
manuscript/PUMP_Manuscript_files/*
validation/results/*files*/
manuscript/jss_manuscript/jss_manuscript_files/*
manuscript/jss_manuscript/jss_manuscript_files/figure-latex/*
manuscript/jss_manuscript/jss_manuscript_files/figure-latex/*.pdf
manuscript/arxiv/arxiv_cache/*
manuscript/arxiv/arxiv_files/*
manuscript/jss/jss_manuscript_cache/*
manuscript/jss/jss_manuscript_files/*

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# Temp files from latex
*.aux
*.toc
*.log
*.bbl
*.synctex.gz
*.out
*.blg

# bib file
ManuScript/*.nb.html
